nav{
    display: flex;
    flex-direction: column;
    background: #333;
}
nav a{
    text-decoration: none;
    padding: 10px;
    color: white;
}
@media(min-width:768px){
    nav{
        flex-direction: row;
        gap:20px;
        justify-content:center ;

    }
    
}
img{
    width:500px;
    display: block;
    margin: auto;
    border-radius: 50px;
}
video{
    width:50vw;
    padding:10px;
    background:blue;
    display: block;
    margin :20px auto;
}
button{
    border: none;
    padding:10px 20px;
    margin: 20px auto;
    display:block;
    background:blue;
    cursor:pointer;
}
button:hover{
    opacity: 0.8;
}
table,tr,th,td{
    border: 1px solid rgb(163, 240, 181);
    font-size: large;
    width: 700px;
    height:70px
}
.grid{
    display: grid;
    grid-template-columns: repeat(4,1f);
    gap:10px;
    width:80%;
    margin: auto;
}
.grid div{
    background: rgb(100, 194, 234);
    padding: 30px;
    text-align: center;
}
@media (max-width:768px) {
    .grid{
        grid-template-columns: repeat(2,1fr);
    }
}
body{
    background-color: purple;
}